{# templates/recipe/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Recettes{% endblock %}

{% block body %}
    <h1>Liste des Recettes</h1>
    <p>Voici la liste de vos recettes.</p>

    <ul>
        <li><a href="#">Recette 1</a></li>
        <li><a href="#">Recette 2</a></li>
        <li><a href="#">Recette 3</a></li>
    </ul>
{% endblock %}
